### react ###
.DS_*
front/*.log
front/logs
front/**/*.backup.*
front/**/*.back.*

front/package-lock.json

front/node_modules
front/bower_components

*.sublime*

front/psd
front/thumb
front/sketch

# End of https://www.toptal.com/developers/gitignore/api/react
